# Assignment 1 DAY 2

Try 5 different functions of the string in python

In [4]:
name = "harshita goswami"

In [15]:
name.capitalize()

'Harshita goswami'

In [10]:
name

'harshita goswami'

In [11]:
name.replace('a' , 'e')

'hershite goswemi'

In [17]:
name.count('g')

1

In [18]:
name.find('i')

5

In [22]:
name.isprintable()

True

# Assignment 2 DAY 2

Try 5 different functions of the List object in python: only 2 COUNT and INDEX

In [27]:
tup = ('Harshita','Goswami', 'Mtech', 'DTU', 'DTU', 'Goswami', 'Harshita')

In [28]:
tup

('Harshita', 'Goswami', 'Mtech', 'DTU', 'DTU', 'Goswami', 'Harshita')

In [29]:
tup.count('DTU')

2

In [30]:
tup.index('Harshita')

0

In [31]:
tup.index('DTU')

3

In [32]:
tup.count('Mtech')

1

# Assignment 3 DAY 2

Try 5 different functions of the dictionary in python

In [33]:
dit = {'Name': 'Harshita', 'Age' : '23', 'Degree' : 'Mtech', 'Course': 'Bioinformatics', 'College':'DTU', 'Country':'India', 'email':'hg@gmail.com'}

In [34]:
dit

{'Name': 'Harshita',
 'Age': '23',
 'Degree': 'Mtech',
 'Course': 'Bioinformatics',
 'College': 'DTU',
 'Country': 'India',
 'email': 'hg@gmail.com'}

In [36]:
dit.copy()

{'Name': 'Harshita',
 'Age': '23',
 'Degree': 'Mtech',
 'Course': 'Bioinformatics',
 'College': 'DTU',
 'Country': 'India',
 'email': 'hg@gmail.com'}

In [37]:
dit.get('Age')

'23'

In [38]:
dit.items()

dict_items([('Name', 'Harshita'), ('Age', '23'), ('Degree', 'Mtech'), ('Course', 'Bioinformatics'), ('College', 'DTU'), ('Country', 'India'), ('email', 'hg@gmail.com')])

In [40]:
dit.popitem()

('email', 'hg@gmail.com')

In [45]:
dit.pop('Age')

'23'

In [46]:
dit.update({'gender': 'F'})

In [47]:
dit

{'Name': 'Harshita',
 'Degree': 'Mtech',
 'Course': 'Bioinformatics',
 'College': 'DTU',
 'Country': 'India',
 'gender': 'F'}

In [49]:
dit.values()

dict_values(['Harshita', 'Mtech', 'Bioinformatics', 'DTU', 'India', 'F'])

In [52]:
dit.setdefault('Course','BIO')

'Bioinformatics'

In [53]:
dit

{'Name': 'Harshita',
 'Degree': 'Mtech',
 'Course': 'Bioinformatics',
 'College': 'DTU',
 'Country': 'India',
 'gender': 'F'}